<div class="text-5xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, unde nam excepturi eius cum,
  assumenda possimus nulla neque, incidunt delectus dolor voluptatibus. Cumque eaque animi facilis magni fugiat quas?
  Esse.
  <icon class="kit"></icon>
  <icon class="cat"></icon>
</div>
<div class=" ">
  <div class="glass absolute top-2 left-2 m-10 p-5 max-w-96 rounded-md">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit.
    Optio culpa
    neque animi
    officia aut, totam quod rem itaque nisi debitis delectus officiis molestiae id nam nulla temporibus eaque. Eius, et.
  </div>
</div>

<tiar-fancy-input [label]="'Full Name'" [id]="'full_name'" ></tiar-fancy-input>
<tiar-fancy-input [label]="'Email ID'" [id]="'email_id'" [type]="'email'"></tiar-fancy-input>